@using HairSalon.Models;

<h1>Stylist details: Name: @Model["stylist"].GetName()</h1>


<h2>Clients:</h2>

<ol>
@foreach (var client in @Model["clients"])
{
  <h3><li><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetName()</a></li></h3>
}
</ol>

<h2>Specialties:</h2>

<h3>Here are all the specialties for this stylist:</h3>

    <ol>
    @foreach (var specialty in @Model["specialtyStylists"])
    {
        <li><a href='/specialties/@specialty.GetId()'>@specialty.GetName()</a></li>
    }
    </ol>

<h4>Add a specialty to this stylist:</h4>

<form action='/stylists/@Model["stylist"].GetId()/specialties/new' method='post'>
    <label for='specialtyId'>Select a specialty</label>
    <select id='specialtyId' name='specialtyId' type='text'>
    @foreach (var specialty in @Model["allSpecialties"])
    {
        <option value='@specialty.GetId()'>@specialty.GetName()</option>
    }
    </select>
    <button type='submit'>Add</button>
</form>

<h3><p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a></p></h3>
<h3><p><a href='/stylists/@Model["stylist"].GetId()/edit'>Update stylist name</a></p></h3>
<h3><a href='/stylists/@Model["stylist"].GetId()/delete'>Delete this stylist</a></h3>
<h3><p><a href='/stylists'>Return to stylist list</a></p></h3>
<h3><p><a href='/'>Return to home page</a></p></h3>